nav .nav__list {
	position: absolute;
	top: 100%;
	right: 10%;
	background: var(--white);
	flex-direction: column;
	max-width: 250px;
	width: 100%;
	padding: 4rem;
}

nav .nav__list::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid var(--white);
	position: absolute;
	top: -4%;
	right: -3.8%;
	transform: rotateZ(135deg);
}

nav .checkbtn {
	display: block;
}

nav .nav__list .list-iem a {
	color: var(--grayish-blue);
}

nav .nav__list .list-iem:last-child a {
	background: var(--yellow);
}

/*Main section*/
main .main__flex-container .flex-content {
	padding: 4rem;
}

nav .nav__list .list-iem:not(:last-child) {
	margin-right: 0;
}

main .main__flex-container .flex-content h2 {
	font-size: 3.5rem;
	color: var(--very-dark-desaturated-blue);
}

#gallery .gallery-container {
	flex-wrap: wrap;
}

#gallery .gallery-container .gallery-item {
	flex-basis: 50%;
}
