header h1 {
	font-size: 4rem;
}

main .main__flex-container {
	flex-direction: column;
	height: unset;
}

main .main__flex-container#brand-tranform {
	flex-direction: column-reverse;
}

main .main__flex-container .flex-content,
main .main__flex-container .flex-image {
	flex-basis: unset;
}

main .main__flex-container .flex-image#transform-brand {
	background: url('../images/mobile/image-transform.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 624px;
}

main .main__flex-container .flex-image#stand-out {
	background: url('../images/mobile/image-stand-out.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 624px;
}

main .main__flex-container .flex-content#graphic-design {
	background: url('../images/mobile/image-graphic-design.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 580px;
}

main .main__flex-container .flex-content#photography {
	background: url('../images/mobile/image-photography.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 580px;
}

main .main__flex-container .flex-content {
	padding: 5rem;
	text-align: center;
	align-items: center;
}

#testimonials {
	padding: 8rem 5rem;
}

#testimonials .testimonials-container {
	flex-direction: column;
}
